/* *{
    outline: 1px solid red;
} */
body{
    background: #bebebe;
}
.shift-status{
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe, -10px -10px 20px #ffffff;
    border-radius: 2vh;
}
.header{
    height: 12vh;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 2vh 2vh 0 0;
}
.main{
    height: 72vh;
}